<footer class="footer">
	<small>
		<a href="http://el86.com/">Belajar Rails</a>
		by Agung Purbayana
  	</small>
  	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
	  		<li><%= link_to "Contact", contact_path %></li>
	  		<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>